<% include partials/header.ejs %>
 
<div class="container-fluid">
    <div class="jumbotron">
		<body>

		<h1 class="display-4"><%= title %></h1>
        <p class="lead">Hello world!</p>
        <hr class="my-4">
        <p>Hello</p>
        <br>
        <br>
    </div>
</div>

<% include partials/footer.ejs %>   
    