<% include partials/header.ejs %>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Hello world!</p>
        <hr class="my-4">
        <p>Jos is stupid. Larry is skinny.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

<% include partials/footer.ejs %>   
    