<% include partials/header.ejs %>
 
<div class="container-fluid">
    <div class="jumbotron">
		<body>
		<h1 class="display-4">Sign Up Now!</h1>
        <p class="lead">Start sending money anywhere securely without typing any password</p>
        <hr class="my-4">
        <p>Please fill out the form below and take/upload a clear picture of your face and then click submit.</p>
    </div>
</div>

<div class="container">
    <h1>Sign Up!</h1>
    <form id="frmUploader" enctype="multipart/form-data" action="register/upload/" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        
        <div class="form-group">
        	<video id="player" autoplay="autoplay"></video>
        	<canvas id="canvas" width=320 height=240></canvas>
        	<!--<img id="userUpload" />-->
        	<div>
        	   <button class="btn btn-outline-primary" type="button" id="capture">Capture</button>
                <span>OR</span>        
                <input class="btn btn-outline-secondary" type="file" onchange="readImageInput(this)" name="imgUploader"/>
        	</div>
        </div>
        
        <hr>
        
        <div class="form-group">
            <input class="btn btn-lg btn-success" type="submit" name="submit" id="btnSubmit" value="Submit" />
        </div>
    </form>
    
</div>

<script type="text/javascript" src="camera.js"></script>
<% include partials/footer.ejs %>   
    