<% include partials/header.ejs %>
 
<div class="container-fluid">
    <div class="jumbotron">
		<body>
		<h1 class="display-4">Sign Up Now!</h1>
        <p class="lead">Start sending money anywhere securely without typing any password</p>
        <hr class="my-4">
        <p>Please fill out the form below and take/upload a clear picture of your face and then click submit.</p>
    </div>
</div>

<div class="container">
	<video id="player" autoplay="autoplay"></video>
	<button id="capture">Capture</button>
	<canvas id="canvas" width=320 height=240></canvas>
	
	<img id="userUpload"/>
	
	<form id="frmUploader" enctype="multipart/form-data" action="register/upload/" method="post">
        <input type="file" onchange="readImageInput(this)" name="imgUploader" />
        <input class="btn btn-primary btn-lg" type="submit" name="submit" id="btnSubmit" value="Upload" />
    </form>
</div>

<script type="text/javascript" src="camera.js"></script>
<% include partials/footer.ejs %>   
    